### Setup

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.cluster.vq import kmeans, whiten

In [23]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [25]:
undata = pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/curric-data-001-data-sets/master/un/un.csv')
undata.head()

,country,region,tfr,contraception,educationMale,educationFemale,lifeMale,lifeFemale,infantMortality,GDPperCapita,economicActivityMale,economicActivityFemale,illiteracyMale,illiteracyFemale
0,Afghanistan,Asia,6.90,NaN,NaN,NaN,45.0,46.0,154.0,2848.0,87.5,7.2,52.800,85.00
1,Albania,Europe,2.60,NaN,NaN,NaN,68.0,74.0,32.0,863.0,NaN,NaN,NaN,NaN
2,Algeria,Africa,3.81,52.0,11.1,9.9,67.5,70.3,44.0,1531.0,76.4,7.8,26.100,51.00
3,American.Samoa,Asia,NaN,NaN,NaN,NaN,68.0,73.0,11.0,NaN,58.8,42.4,0.264,0.36
4,Andorra,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
undata.count()

country                   207
region                    207
tfr                       197
contraception             144
educationMale              76
educationFemale            76
lifeMale                  196
lifeFemale                196
infantMortality           201
GDPperCapita              197
economicActivityMale      165
economicActivityFemale    165
illiteracyMale            160
illiteracyFemale          160
dtype: int64

In [31]:
undata.dropna(inplace = True)
x = undata[['lifeMale', 'lifeFemale', 'GDPperCapita']]
x = np.column_stack([x1,x2,x3])
print(x)

[[    67.5     70.3   1531. ]
 [    70.5     77.1  12545. ]
 [    71.1     75.3   9073. ]
 [    73.4     76.1   2569. ]
 [    48.9     51.7   3640. ]
 [    45.1     47.     165. ]
 [    45.5     48.8    205. ]
 [    72.3     78.3   4736. ]
 [    74.2     78.    1983. ]
 [    68.9     73.1   1508. ]
 [    64.7     67.3    973. ]
 [    66.5     72.5   1660. ]
 [    63.9     75.    2433. ]
 [    45.4     48.7    321. ]
 [    68.5     76.7    343. ]
 [    76.1     81.8  22898. ]
 [    64.5     73.8   4325. ]
 [    63.3     67.    1019. ]
 [    60.9     63.9  11308. ]
 [    72.4     76.8   1779. ]
 [    68.8     76.    9736. ]
 [    74.1     78.2  15757. ]
 [    62.5     74.3   1764. ]
 [    40.3     41.1    142. ]
 [    65.8     70.6    464. ]
 [    67.5     72.    1860. ]
 [    65.9     70.9   2497. ]
 [    66.6     70.2   1093. ]
 [    71.8     78.9  10428. ]
 [    70.      75.4  14013. ]
 [    66.      73.2   1570. ]
 [    67.5     71.1   1106. ]
 [    62.3     68.3   3230. ]
 [    74.5     81.5  14111. ]
 [    57.7     62.3   1389. ]
 [    71.5     76.2   4083. ]
 [    66.5     71.7   2814. ]
 [    73.4     80.1  26037. ]
 [    70.      75.7   3496. ]]

In [33]:
features = whiten(x)
features
kmeans(whitened,2)

array([[ 7.66974872,  7.12209925,  0.24395507],
       [ 8.01062644,  7.81100785,  1.99896563],
       [ 8.07880199,  7.62864969,  1.44572461],
       [ 8.34014157,  7.70969776,  0.40935374],
       [ 5.55630685,  5.23773159,  0.58001075],
       [ 5.12452841,  4.76157418,  0.0262917 ],
       [ 5.16997877,  4.94393234,  0.03266544],
       [ 8.21515308,  7.93257996,  0.75465135],
       [ 8.4310423 ,  7.90218693,  0.31597839],
       [ 7.82882499,  7.4057675 ,  0.24029017],
       [ 7.35159618,  6.81816898,  0.15504134],
       [ 7.55612282,  7.34498144,  0.2645104 ],
       [ 7.26069546,  7.59825666,  0.38768301],
       [ 5.15861618,  4.93380133,  0.0511493 ],
       [ 7.78337463,  7.77048382,  0.05465486],
       [ 8.64693152,  8.28716527,  3.64865006],
       [ 7.328871  ,  7.47668456,  0.68916113],
       [ 7.19251991,  6.78777595,  0.16237114],
       [ 6.91981774,  6.47371468,  1.80185758],
       [ 8.22651567,  7.78061482,  0.28347229],
       [ 7.8174624 ,  7.69956675,  1.55136942],
       [ 8.41967971,  7.92244895,  2.51077732],
       [ 7.10161919,  7.5273396 ,  0.28108213],
       [ 4.57912405,  4.16384465,  0.02262679],
       [ 7.47658468,  7.15249227,  0.07393544],
       [ 7.66974872,  7.2943264 ,  0.29637912],
       [ 7.48794727,  7.1828853 ,  0.397881  ],
       [ 7.56748541,  7.11196824,  0.17416257],
       [ 8.15834012,  7.99336601,  1.6616352 ],
       [ 7.95381349,  7.6387807 ,  2.23288206],
       [ 7.49930986,  7.4158985 ,  0.25016947],
       [ 7.66974872,  7.20314732,  0.17623404],
       [ 7.07889401,  6.91947907,  0.51467987],
       [ 8.46513007,  8.25677224,  2.24849773],
       [ 6.55621483,  6.31161854,  0.22132828],
       [ 8.12425235,  7.71982877,  0.65059997],
       [ 7.55612282,  7.26393337,  0.44839293],
       [ 8.34014157,  8.11493812,  4.14882967],
       [ 7.95381349,  7.66917373,  0.55706527]])